#pane{
    color:blue;
    height:400px;
    width: 400px;
    margin-left: 20%;
    padding-top: 30px;
    padding-left: 40px;
    background-color: orange
}
.box{
    padding:10px;
}
#beaufort{
    margin-left: 0px;
}

#velocity{
    margin-left: 5px;
}


h1 {
 margin-left: 20%;
}